/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (max-width: 767px) {
  body h2 {
    font-size: 36px;
    font-weight: 800;
    line-height: 32.4px;
    line-height: 1.8rem;
  }
}

@media (min-width: 768px) {
  body h2 {
    font-size: 46px;
    font-weight: 800;
    line-height: 32.4px;
    line-height: 1.8rem;
  }
}

@media (max-width: 767px) {
  body h3 {
    font-size: 20px;
    font-weight: 800;
  }
}

@media (min-width: 768px) {
  body h3 {
    font-size: 24px;
    font-weight: 800;
  }
}

@media (max-width: 767px) {
  body p {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  body p {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  body {
    background-image: url("../img/same_bg.png");
  }
  .champion_titleshow {
    background-image: url("../img/title.png");
    background-repeat: no-repeat;
    height: 270px;
    background-position: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .champion_titleshow .champion_title {
    padding-top: 60px;
    color: #ed690f;
  }
  .champion_imgset {
    position: relative;
  }
  .champion_imgset > img {
    margin: auto;
  }
  .champion_imgset > figure {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .champion_imgset > figure figcaption {
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
    color: #640000;
  }
  .champion_imgset > figure img {
    margin: auto;
    width: 65%;
  }
  body .prod_normal {
    padding-top: 50px;
  }
  .normal_titleshow {
    background-image: url("../img/title.png");
    background-repeat: no-repeat;
    height: 270px;
    background-position: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .normal_titleshow .normal_title {
    padding-top: 60px;
    color: #ed690f;
  }
}

img {
  display: block;
  border: none;
}

* {
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.full-container {
  position: relative;
}

.full-container::after {
  display: block;
  content: '';
  clear: both;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  outline: 1px solid red;
  margin: 0 auto;
}

.container::after {
  display: block;
  content: '';
  clear: both;
}
/*# sourceMappingURL=index.css.map */