/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (max-width: 767px) {
  body h2 {
    font-size: 36px;
    font-weight: 800;
    line-height: 32.4px;
    line-height: 1.8rem;
  }
}

@media (min-width: 768px) {
  body h2 {
    font-size: 46px;
    font-weight: 800;
    line-height: 32.4px;
    line-height: 1.8rem;
  }
}

@media (max-width: 767px) {
  body h3 {
    font-size: 20px;
    font-weight: 800;
  }
}

@media (min-width: 768px) {
  body h3 {
    font-size: 24px;
    font-weight: 800;
  }
}

@media (max-width: 767px) {
  body p {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  body p {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  body {
    background-image: url("../img/same_bg.png");
  }
  .champion_titleshow {
    background-image: url("../img/title.png");
    background-repeat: no-repeat;
    height: 270px;
    background-position: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .champion_titleshow .champion_title {
    padding-top: 60px;
    color: #ed690f;
  }
  .champion_imgset {
    position: relative;
  }
  .champion_imgset > img {
    margin: auto;
  }
  .champion_imgset > figure {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .champion_imgset > figure figcaption {
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
    color: #640000;
  }
  .champion_imgset > figure img {
    margin: auto;
    width: 65%;
  }
}

@media (min-width: 768px) {
  .prod_normal {
    padding-top: 50px;
  }
  .normal_titleshow {
    background-image: url("../img/title.png");
    background-repeat: no-repeat;
    height: 270px;
    margin-bottom: 25px;
    background-position: center;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .normal_titleshow .normal_title {
    padding-top: 60px;
    color: #ed690f;
  }
  .prod_normal > .container > .normal_wrap {
    background-image: url("../img/oven_bg_png.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border: solid 1px black;
  }
  .prod_filter {
    background-image: url("../img/filter_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 70px;
    width: 220px;
    padding-top: 120px;
  }
  .prod_filter > .filter_popular {
    margin: 20px auto 55px auto;
    text-align: center;
  }
  .prod_filter > .filter_popular > #popular_item {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 110px;
    color: #fff;
    font-weight: 700;
    background-color: #ffc556;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-position: 83px center;
    border-radius: 5px;
    padding: 5px 20px 5px 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .prod_filter > .filter_scope {
    text-align: center;
    padding: 5px 0;
  }
  .prod_filter > .filter_scope label {
    display: block;
    text-align: left;
    margin: 5px auto 5px 25px;
  }
  .filter_flavor {
    padding-top: 10px;
    margin: 5px 20px;
  }
  .filter_flavor > .flavor_title {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 700;
    color: #090c7b;
  }
  .filter_flavor > .boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .filter_flavor > .boxes input {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .filter_base {
    padding-top: 10px;
    margin: 5px 20px;
  }
  .filter_base > .base_title {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 700;
    color: #090c7b;
  }
  .filter_base > .boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .filter_base > .boxes input {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .filter_ingredient {
    padding-top: 10px;
    margin: 5px 20px;
  }
  .filter_ingredient > .ingredient_title {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 700;
    color: #090c7b;
  }
  .filter_ingredient > .boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .filter_ingredient > .boxes input {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .filter_deco {
    padding-top: 10px;
    margin: 5px 20px;
  }
  .filter_deco > .deco_title {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 700;
    color: #090c7b;
  }
  .filter_deco > .boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .filter_deco > .boxes input {
    width: 33.33333%;
  }
  .prod_prodset {
    padding-top: 120px;
    border: solid 1px red;
    width: 75%;
  }
  .prod_prodset > .groupshop {
    background-color: #f1bf8a;
    border-radius: 10px;
    padding-top: 10px;
  }
  .prod_prodset > .groupshop .titleshow {
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    height: 50px;
    background-image: url("../img/oven_handle_bg.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .prod_prodset > .groupshop .slider {
    padding: 10px 0;
    position: relative;
  }
  .prod_prodset > .groupshop .slider .slider_prev {
    position: absolute;
    top: 35%;
    left: 0px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: #fff;
    font-weight: 800;
    background-color: #ddd;
  }
  .prod_prodset > .groupshop .slider .slider_next {
    position: absolute;
    top: 35%;
    right: 0px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: #fff;
    font-weight: 800;
    background-color: #ddd;
  }
  .slider_cardset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 20px 0;
  }
  .slider_cardset .slider_card {
    border: solid 1px blue;
    background-image: url("../img/card_bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 0px;
    width: 25%;
  }
  .slider_cardset .slider_card .titleset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 5px 0;
  }
  .cardtitle {
    font-size: 24px;
    font-weight: bold;
    -webkit-box-flex: 0.4;
        -ms-flex-positive: 0.4;
            flex-grow: 0.4;
    text-align: right;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: relative;
    z-index: 1;
    padding: -5px 0;
  }
  .cardtitle::after {
    content: "";
    position: absolute;
    left: 5px;
    top: -10px;
    background-image: url("../img/brush.png");
    background-repeat: no-repeat;
    width: 145px;
    height: 50px;
    z-index: -1;
  }
  .slider_cardset .slider_card > img {
    margin: 10px auto;
  }
  .slider_cardset .slider_card .card_price {
    text-align: center;
    margin: auto;
    font-weight: 800;
    font-size: 18px;
    padding: 5px 0;
  }
  .slider_cardset .slider_card .card_btn {
    padding: 10px 0px;
    margin: 5px;
  }
  .slider_cardset .slider_card .card_btn .group {
    background-color: #0168b7;
    padding: 10px;
    color: #fff;
    font-weight: 800;
    border-radius: 10px;
    margin: 0 5px;
  }
  .slider_cardset .slider_card .card_btn .cart {
    background-color: #0168b7;
    padding: 10px;
    color: #fff;
    font-weight: 800;
    border-radius: 10px;
  }
  .slider_circleset {
    width: 100px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .slider_circleset > .circle1, .slider_circleset > .circle2, .slider_circleset > .circle3 {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
  }
}

img {
  display: block;
  border: none;
}

* {
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.full-container {
  position: relative;
}

.full-container::after {
  display: block;
  content: '';
  clear: both;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  outline: 1px solid red;
  margin: 0 auto;
}

.container::after {
  display: block;
  content: '';
  clear: both;
}
/*# sourceMappingURL=index.css.map */