/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (max-width: 767px) {
  body h2 {
    font-size: 36px;
    font-weight: 800;
    line-height: 32.4px;
    line-height: 1.8rem;
  }
}

@media (min-width: 768px) {
  body h2 {
    font-size: 46px;
    font-weight: 800;
    line-height: 32.4px;
    line-height: 1.8rem;
  }
}

@media (max-width: 767px) {
  body h3 {
    font-size: 20px;
    font-weight: 800;
  }
}

@media (min-width: 768px) {
  body h3 {
    font-size: 24px;
    font-weight: 800;
  }
}

@media (max-width: 767px) {
  body p {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  body p {
    font-size: 18px;
  }
}

.body_bg {
  background-image: url("../img/prod/same_bg.png");
}

.body_bg .prod_champion {
  width: 100%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.body_bg .prod_champion > .container .champion_titleshow {
  margin: auto;
  width: 100%;
  background-image: url("../img/prod/title.png");
  background-repeat: no-repeat;
  background-size: 90%;
  height: 270px;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .body_bg .prod_champion > .container .champion_titleshow {
    width: 100%;
    background-size: contain;
  }
}

.body_bg .prod_champion > .container .champion_titleshow .champion_title {
  width: 100%;
  text-align: center;
  padding-top: 60px;
  color: #921707;
}

.body_bg .prod_champion > .container .champion_imgset {
  position: relative;
}

.body_bg .prod_champion > .container .champion_imgset > img {
  width: 100%;
  margin: auto;
}

@media (min-width: 768px) {
  .body_bg .prod_champion > .container .champion_imgset > img {
    width: 80%;
  }
}

.body_bg .prod_champion > .container .champion_imgset > figure {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.body_bg .prod_champion > .container .champion_imgset > figure figcaption {
  font-size: 30px;
  text-align: center;
  padding: 10px 0;
  color: #640000;
}

@media (min-width: 768px) {
  .body_bg .prod_champion > .container .champion_imgset > figure figcaption {
    padding: 30px 0;
    font-size: 36px;
  }
}

.body_bg .prod_champion > .container .champion_imgset > figure img {
  margin: auto;
  width: 80%;
}

@media (min-width: 768px) {
  .body_bg .prod_champion > .container .champion_imgset > figure img {
    width: 90%;
  }
}

.prod_normal {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.prod_normal > .container .normal_titleshow {
  margin: auto;
  margin-bottom: 30px;
  width: 100%;
  background-image: url("../img/prod/title.png");
  background-size: 90%;
  background-repeat: no-repeat;
  height: 270px;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .prod_normal > .container .normal_titleshow {
    width: 100%;
    background-size: contain;
  }
}

.prod_normal > .container .normal_titleshow .normal_title {
  width: 100%;
  text-align: center;
  padding-top: 60px;
  color: #921707;
}

.prod_normal > .container > .normal_wrap {
  width: 95%;
  padding-top: 10px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
  padding-bottom: 120px;
  background-image: url("../img/prod/oven_bg_Mobile_png.png");
}

@media (min-width: 768px) {
  .prod_normal > .container > .normal_wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-size: 100% 100%;
    background-image: url("../img/prod/oven_bg_png.png");
  }
}

.filter_group {
  width: 100%;
  padding: 30px;
}

@media (min-width: 768px) {
  .filter_group {
    background-image: url("../img/prod/filter_bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 70px;
    width: 19%;
    padding-top: 120px;
    margin-left: 10px;
  }
}

.filter_group > .filter_popular {
  display: inline-block;
  margin: auto 20px;
}

@media (min-width: 768px) {
  .filter_group > .filter_popular {
    width: 100%;
    margin: auto;
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 50px;
  }
}

.filter_group > .filter_popular > #popular_item {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 110px;
  color: #fff;
  font-weight: 700;
  background-color: #ffc556;
  background-image: url("../img/prod/arrow.png");
  background-repeat: no-repeat;
  background-position: 83px center;
  border-radius: 5px;
  padding: 5px 20px 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter_group > .filter_scope {
  text-align: center;
  padding: 5px 0;
  display: inline-block;
}

.filter_group > .filter_scope > label {
  text-align: left;
  font-weight: 700;
  color: #090c7b;
  font-size: 18px;
}

@media (min-width: 768px) {
  .filter_group > .filter_scope > label {
    width: 100%;
    margin: auto 0;
    display: block;
    padding-top: 20px;
    padding-bottom: 15px;
  }
}

.filter_group > .filter_scope > input {
  border-radius: 3px;
}

.filter_group > .filter_scope > .confirm {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  font-weight: 700;
  background-color: #ffc556;
}

.filter_group > .filter_flavor,
.filter_group > .filter_base,
.filter_group > .filter_ingredient,
.filter_group > .filter_deco {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: solid 1px #fff;
  min-width: 30%;
}

@media (min-width: 768px) {
  .filter_group > .filter_flavor,
  .filter_group > .filter_base,
  .filter_group > .filter_ingredient,
  .filter_group > .filter_deco {
    display: block;
    border-bottom: none;
  }
}

.filter_group > .filter_flavor > .filter_title,
.filter_group > .filter_base > .filter_title,
.filter_group > .filter_ingredient > .filter_title,
.filter_group > .filter_deco > .filter_title {
  width: 30%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 700;
  font-size: 18px;
  color: #090c7b;
}

@media (min-width: 768px) {
  .filter_group > .filter_flavor > .filter_title,
  .filter_group > .filter_base > .filter_title,
  .filter_group > .filter_ingredient > .filter_title,
  .filter_group > .filter_deco > .filter_title {
    width: 100%;
    text-align: left;
    padding: 10px 0;
  }
}

.filter_group > .filter_flavor > .boxes,
.filter_group > .filter_base > .boxes,
.filter_group > .filter_ingredient > .boxes,
.filter_group > .filter_deco > .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .filter_group > .filter_flavor > .boxes,
  .filter_group > .filter_base > .boxes,
  .filter_group > .filter_ingredient > .boxes,
  .filter_group > .filter_deco > .boxes {
    display: block;
    width: 100%;
  }
}

.filter_group > .filter_flavor > .boxes > p,
.filter_group > .filter_base > .boxes > p,
.filter_group > .filter_ingredient > .boxes > p,
.filter_group > .filter_deco > .boxes > p {
  width: 33.33333%;
}

@media (min-width: 768px) {
  .filter_group > .filter_flavor > .boxes > p,
  .filter_group > .filter_base > .boxes > p,
  .filter_group > .filter_ingredient > .boxes > p,
  .filter_group > .filter_deco > .boxes > p {
    width: 100%;
  }
}

.filter_group > .filter_flavor > .boxes > p input,
.filter_group > .filter_base > .boxes > p input,
.filter_group > .filter_ingredient > .boxes > p input,
.filter_group > .filter_deco > .boxes > p input {
  width: 20px;
  height: 20px;
  border: solid 1px #000;
}

@media (min-width: 768px) {
  .filter_group > .filter_flavor > .boxes > p input,
  .filter_group > .filter_base > .boxes > p input,
  .filter_group > .filter_ingredient > .boxes > p input,
  .filter_group > .filter_deco > .boxes > p input {
    width: 34%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.filter_group > .filter_flavor > .boxes > p label,
.filter_group > .filter_base > .boxes > p label,
.filter_group > .filter_ingredient > .boxes > p label,
.filter_group > .filter_deco > .boxes > p label {
  width: 35%;
  height: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.prod_prodset {
  width: 95%;
  margin: auto;
}

@media (min-width: 768px) {
  .prod_prodset {
    padding-top: 120px;
    width: 75%;
  }
}

.prod_prodset > .groupshop,
.prod_prodset > .base,
.prod_prodset > .match,
.prod_prodset > .deco {
  background-color: #f1bf8a;
  border-radius: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.prod_prodset > .groupshop .titleshow,
.prod_prodset > .base .titleshow,
.prod_prodset > .match .titleshow,
.prod_prodset > .deco .titleshow {
  text-align: center;
  padding-top: 15px;
  margin-top: 10px;
  height: 50px;
  background-image: url("../img/prod/oven_handle_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.prod_prodset > .groupshop .slider,
.prod_prodset > .base .slider,
.prod_prodset > .match .slider,
.prod_prodset > .deco .slider {
  padding: 10px 0;
  position: relative;
}

.prod_prodset > .groupshop .slider .slider_prev,
.prod_prodset > .base .slider .slider_prev,
.prod_prodset > .match .slider .slider_prev,
.prod_prodset > .deco .slider .slider_prev {
  position: absolute;
  top: 35%;
  left: 0px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #fff;
  font-weight: 800;
  background-color: #ddd;
  cursor: pointer;
}

.prod_prodset > .groupshop .slider .slider_next,
.prod_prodset > .base .slider .slider_next,
.prod_prodset > .match .slider .slider_next,
.prod_prodset > .deco .slider .slider_next {
  position: absolute;
  top: 35%;
  right: 0px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #fff;
  font-weight: 800;
  background-color: #ddd;
  cursor: pointer;
}

.prod_prodset > .groupshop .slider .slider_cardset,
.prod_prodset > .base .slider .slider_cardset,
.prod_prodset > .match .slider .slider_cardset,
.prod_prodset > .deco .slider .slider_cardset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 20px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card_slider {
  width: 100%;
  height: 380px;
  background-image: url("../img/prod/card_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .card_slider {
    width: 30%;
    height: 400px;
    margin-bottom: 0px;
  }
}

.card_titleshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  background-image: url("../img/prod/brush.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

@media (min-width: 768px) {
  .card_titleshow {
    margin-top: 30px;
    height: 50px;
    background-position: 30px center;
  }
}

.card_titleshow > img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 35px;
  height: 35px;
}

.card_title {
  font-size: 24px;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0.25;
      -ms-flex-positive: 0.25;
          flex-grow: 0.25;
  width: 120px;
  text-align: center;
  z-index: 1;
  padding-left: 40px;
}

@media (min-width: 768px) {
  .card_title {
    -webkit-box-flex: 0.3;
        -ms-flex-positive: 0.3;
            flex-grow: 0.3;
    padding-left: 0px;
  }
}

.card_img {
  width: 45%;
  height: 40%;
  margin: 10px auto;
}

@media (min-width: 768px) {
  .card_img {
    width: 80%;
  }
}

.card_price {
  text-align: center;
  margin: auto;
  font-weight: 800;
  font-size: 20px;
  padding: 5px 0;
}

.card_btnGroup {
  width: 200px;
  padding: 10px 0;
  margin: 5px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card_group {
  background-color: #0168b7;
  padding: 10px;
  color: #fff;
  font-weight: 800;
  border-radius: 10px;
  text-align: center;
  margin: auto;
}

.card_cart {
  background-color: #0168b7;
  padding: 10px;
  color: #fff;
  font-weight: 800;
  border-radius: 10px;
  text-align: center;
  margin: auto;
}

.prod_prodset > .groupshop .slider .slider_circleset,
.prod_prodset > .base .slider .slider_circleset,
.prod_prodset > .match .slider .slider_circleset,
.prod_prodset > .deco .slider .slider_circleset {
  width: 100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.prod_prodset > .groupshop .slider .slider_circleset > .circle1,
.prod_prodset > .groupshop .slider .slider_circleset > .circle2,
.prod_prodset > .groupshop .slider .slider_circleset > .circle3,
.prod_prodset > .base .slider .slider_circleset > .circle1,
.prod_prodset > .base .slider .slider_circleset > .circle2,
.prod_prodset > .base .slider .slider_circleset > .circle3,
.prod_prodset > .match .slider .slider_circleset > .circle1,
.prod_prodset > .match .slider .slider_circleset > .circle2,
.prod_prodset > .match .slider .slider_circleset > .circle3,
.prod_prodset > .deco .slider .slider_circleset > .circle1,
.prod_prodset > .deco .slider .slider_circleset > .circle2,
.prod_prodset > .deco .slider .slider_circleset > .circle3 {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
}

img {
  display: block;
  border: none;
}

* {
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.full-container {
  position: relative;
}

.full-container::after {
  display: block;
  content: '';
  clear: both;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container::after {
  display: block;
  content: '';
  clear: both;
}
/*# sourceMappingURL=index.css.map */